*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(217, 54%, 11%);
   /* min-width: 375px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;*/
}

body p{
    font-size: 1.25rem;
    color: rgba(136, 161, 196, 0.779)
}

main{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.equilibrium{
    width: 100%;
    border-radius: 5px;
    position: absolute;
}

.equilibrium:hover{
    transition: .6s ease;
    opacity: .4;
    cursor: pointer;
}
.eye{
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50% );
}

.imageWrapper{
    background-color: hsl(215, 51%, 70%);
    width: 100%;
    height: 318px;
    position: relative;
    border-radius: 5px;
}

h1{
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%, .8);
    margin:20px 0;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 1px;
}

.icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.eth{
    color: hsl(0, 0%, 100%, .8);
}

hr{
    width: 100%;
    opacity: .3;
}

footer{
    margin: 20px 0;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    margin-right: 15px;
}

.julies{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

span{
    color: hsl(0, 0%, 100%, .8);;
}

a:hover{
    cursor: pointer;
    color: white;
}
